# unknown
LarkShell/
Vulcan/
cef_user_data/
dconf/
ibus/
kde.org/

# system
pulse/
session/
systemd/

# software
google-chrome/
clash/
clash_win/
Code/
GitHub Desktop/
JetBrains/
Typora/
docker/
QQ/
apifox/
Electron/
Code - OSS/
Google/
koodo-reader/
Postman/
unity3d/
obs-studio/
QtProject/
yarn/
gocqhttp/
.android/
mpd/log
mpd/state
mpd/pid
mpd/database

# steam game
Screeps/


