# unknown
LarkShell/
Vulcan/
cef_user_data/
dconf/
ibus/
kde.org/

# system
pulse/
session/
systemd/

# software
chromium/
clash/
clash_win/
Code/
GitHub Desktop/
JetBrains/
Typora/
docker/

QtProject.conf

